@model lab3_book.Models.Book

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Ban đã bị lừa mua sách giả <strong> @Model.Title</strong> Với giá <strong> @Model.Price</strong> VNĐ hehe</h2>

